@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 320px 100px ;
  
}



a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 2160px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.header .logo {
  color: rgb(11, 154, 16);
  letter-spacing: 7px;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.foot {
  width: 280px;
  height: 60px;
}
.log {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.form .form-group color{
  margin: 19rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  border-bottom: 1px solid #000000;
  margin-bottom: 40px;
}

.header ul {
  display: flex;
  margin-top: 22px;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: black;
}

.heading h1 {
  color: rgb(140, 233, 10);
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
  letter-spacing: 5px;
  margin-left: 30px;
}




.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.profileContainer {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}


.form,
.content {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #282c34;
  opacity: 0.8;


}
.form2,
.content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #68B984;
  opacity: 0.8;


}

.form-group {
  margin-bottom: 10px;
  margin: 10px;

}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 13px 20px;
  border: 1px;
  border-radius: 8px;
  background: rgb(206, 255, 60);
  color: black;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide-button {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: rgb(159, 255, 104);
  color: black;
  font-size: 16px;
  display: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  appearance: button;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.App .titre {
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}




.image {
  opacity: 54;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 5px;
}
.image2 {
  opacity: 54;
  border-radius: 300px;
  margin-top: 15px;
  margin-left: 5px;
}

.boutton-edit{
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    border: 1px solid #000000;
    
    text-align: center;
    width: 85px;
    appearance: button;
    margin-top: 34px;


  
}
.boutton-delete{
  padding: 10px 20px;
  border-radius: 5px;
  border: 0.5px solid #000000;
  background: rgb(255, 0, 0);
  color: black;
  font-size: 16px;
  width: 85px;
  margin-left: 120px;
 
  
  text-align: center;
  appearance: button;
  


}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}

.animated-text {
  font-size: 50px!important;
  font-weight: bold!important;
  font-family: serif;
  margin-left: 75px;
  letter-spacing: 7px!important;
  cursor: pointer;
}

h1 {
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 0%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 0%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;   
}

  .animated-text1 {
    font-size: 20px!important;
    font-weight: bold!important;
    font-family:serif;
    letter-spacing: 7px!important;
    cursor: pointer;
  }
  h5 {
    padding: 14px;
    background: linear-gradient(to right, hsl(0, 0%, 0%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 0%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 900px;
    }
    100% {
      background-position: 100px;
    }
  }

  .spoiler {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(#a0aec0, #a0aec0);
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .spoiler:hover {
    color: #000;
    background-size: 0% 100%;
  }

  .navbar {
    background-color: #333;
    height: 50px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 0 15px;
    line-height: 50px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  
  
  

  .animated-text2 {
    position: relative;
    background-color: #000000;
    color: white;
    font-weight: italic!important;
    font-family: "Anonymous Pro"!important;
    letter-spacing: 5px!important;
    overflow: hidden!important;
    border-right: 5px solid hsl(0, 0%, 0%);
    animation: typewriter 1s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite!important;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 1210px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 98%);
    }
    to {
      border-right-color: black;
    }
  }

  .btnn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 62px 66px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btnn:hover {
    background-color: RoyalBlue;
  }
  .bordure {
    height: 200px;
    border: 1px solid;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 15px;
  }
  .notification {
    position: relative;
    display: inline-block;
  }
  
  .notification .count {
    background-color: red;
    color: white;
    border-radius: 90%;
    padding: 0.55rem;
    font-size: 0.55rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }

  
  
  
